adapter driver hla
hla_layout stlink
hla_vid_pid 0x0483 0x374b

# ST-LINK/V2 on STM32L152RE board

transport select swd

source C:/ST/STM32CubeIDE_2.0.0/STM32CubeIDE/plugins/com.st.stm32cube.ide.mcu.debug.openocd_2.3.200.202510310951/resources/openocd/st_scripts/target/swj-dp.tcl
source C:/ST/STM32CubeIDE_2.0.0/STM32CubeIDE/plugins/com.st.stm32cube.ide.mcu.debug.openocd_2.3.200.202510310951/resources/openocd/st_scripts/mem_helper.tcl
source C:/ST/STM32CubeIDE_2.0.0/STM32CubeIDE/plugins/com.st.stm32cube.ide.mcu.debug.openocd_2.3.200.202510310951/resources/openocd/st_scripts/gdb_helper.tcl

set _CHIPNAME stm32l1
set _CPUTAPID 0x2ba01477

swj_newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
set _TARGETNAME $_CHIPNAME.cpu
dap create $_CHIPNAME.dap -chain-position $_TARGETNAME
target create $_TARGETNAME cortex_m -endian little -dap $_CHIPNAME.dap -ap-num 0

$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size 0x2800 -work-area-backup 1

flash bank $_CHIPNAME.flash stm32lx 0x08000000 0 0 0 $_TARGETNAME
# STM32L152xE has dual bank (384KB total)
flash bank $_CHIPNAME.flash1 stm32lx 0x08040000 0 0 0 $_TARGETNAME

reset_config srst_only
